#note-form {
  margin: auto auto 50px;
  textarea {
    display: block;
    width: 30vw;
    height: 200px;
    background: $yellow;
    text-decoration: underline;
    text-decoration-style: dotted;
    font-size: 36px;
    text-align: center;
    padding: 30px;
    color: $dark-slate-blue;
    &:focus {
      outline: 2px solid $dark-red;
    }
    &::placeholder {
      color: lighten($slate-blue, 25%);
    }
  }
}
