.alert-modal {
  h1 {
    font-size: 48px;
    margin-bottom: 30px;
  }
  p {
    font-size: 40px;
  }
  button {
    margin: 40px auto 10px auto;
  }

  .link {
    font-size: 30px;
  }

  .fancy-button {
    animation-name: fancyButton;
    animation-duration: 2s;
    animation-iteration-count: 3;
  }

  @keyframes fancyButton {
    0% {
      transform: rotateY(360deg);
      background: $yellow;
    }
    25% {
      background: $bright-red;
    }
    50% {
      background: $green;
    }
    75% {
      background: $yellow;
    }
    100% {
      background: $bright-red;
    }
  }

  #confetti {
    width: 100vw;
    height: 100vh;
  }

  @media (max-width: 600px) {
    p,
    button {
      font-size: 28px;
      display: block;
    }
    h1 {
      font-size: 32px;
    }
    .link {
      font-size: 24px;
      display: block;
    }
  }
}
