#contact-page {
  padding-top: 180px;

  h1 {
    text-decoration: underline;
  }

  p {
    width: 80vw;
    max-width: 1200px;
    line-height: 1.2;
    margin: 3rem auto;
    text-align: justify;
  }

  a {
    font-size: 24px;
  }

  .email-link {
    @extend p;
    display: block;
  }

  @media (max-width: 600px) {
    padding-top: 100px;
    p,
    a {
      text-align: center;
    }
  }
}
