.random-job-modal {
  .job-description {
    font-size: 36px;
    background: $yellow;
    margin: 20px auto;
  }
  h1 {
    margin: 40px auto;
  }

  p {
    margin: 40px auto;
    line-height: 1.2;
  }
  span {
    text-decoration: double underline;
    font-size: 1.1em;
  }
  button {
    display: block;
    margin: 25px auto;
  }
}
