.email-login-modal {
  position: relative;
  width: 80vw;
  max-width: 500px;
  height: 80vh;
  max-height: 500px;
  padding-top: 100px;
  input {
    display: block;
    margin: 0 auto;
    height: 30px;
    font-size: 24px;
  }

  p {
    font-size: 24px;
    padding: 10px;
  }

  button {
    width: 150px;
  }

  input {
    width: 300px;
    margin: 10px auto;
  }
  .close-modal-button {
    height: 20px;
    width: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 2px;
    right: 2px;
  }

  .link {
    width: 100%;
    border: none;
    outline: none;
    text-decoration: underline;
    background: none;
    color: $dark-slate-blue;
    font-size: 16px;
    &:hover {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
}
