.first-jar-modal {
  width: 80vw;
  max-width: 600px;

  button {
    width: 100px;
    margin-top: 20px;
  }

  .text {
    margin-top: 40px;
    font-size: 32px;
  }

  p {
    line-height: 1.3;
  }

  @media (max-width: 600px) {
    .text {
      margin-top: 10px;
    }
  }
}
