.login-page {
  background: $sky-blue;
  height: 100%;
  width: 100%;

  .flex-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
  }

  .image-container {
    width: 20%;
    height: 100vh;
    vertical-align: middle;

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      max-width: 25vw;
    }
  }

  .text-container {
    width: 80%;
    height: 100%;
  }

  .button-group {
    margin: 0 auto;
    margin-top: 8vh;
  }

  h1 {
    color: darken($dark-slate-blue, 30%);
    font-size: 12vw;
  }
  @media (max-width: 900px) {
    .flex-container {
      flex-flow: column;
      .image-container {
        padding-top: 100px;
        height: auto;
        width: 100vw;
        img {
          position: relative;
          transform: none;
          width: 50vw;
          max-width: 450px;
          height: auto;
        }
      }
      .text-container {
        width: 100%;
        height: auto;
      }
    }
  }
}
