.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 40px;
  width: 100%;
  background: $slate-blue;
  text-align: right;

  a,
  label {
    color: $white;
    display: inline-block;
    margin: 10px 40px;
    text-decoration: none;
    &:hover {
      // text-decoration: underline;
      transform: translate(-2px, -2px);
    }
  }

  label {
    margin-right: 10px;
  }
}
