.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 60px;
  width: 100%;
  padding: 5px 20px 0;

  background: $slate-blue;
  color: $white;

  .navbar-headers {
    display: flex;
    flex-flow: row;
    padding: 5px 10px;
    align-content: center;
    justify-content: space-between;

    .arrow {
      padding-left: 1rem;
    }
    .bars {
      font-size: 2rem;
    }

    a {
      color: $white;
      display: inline-block;
      margin: 10px 40px;
      text-decoration: none;
      font-size: 24px;
      &:hover {
        transform: translate(-2px, -2px);
      }
    }

    li {
      position: relative;
      width: 400px;
      text-align: left;
      background: $slate-blue;
      display: block;
      &:hover {
        cursor: pointer;
      }
    }

    ul li {
      width: auto;
      ul {
        position: absolute;
        left: 0;
        li {
          width: 150%;
          height: 3rem;
          &:hover {
            background: lighten($slate-blue, 5%);
          }
          a {
            width: 100%;
            text-align: left;
          }
        }
      }
    }

    .main-menu-dropdown-button,
    .jar-dropdown-button,
    .logout-button {
      margin: 0;
      width: auto;
      border: none;

      &:hover {
        transform: translate(-2px, -2px);
        border: none;
        box-shadow: none;
      }
    }

    .jar-dropdown-button {
      width: 200px;
      text-align: left;
    }
  }

  @media (max-width: 600px) {
    .jar-dropdown-button {
      width: auto;
      padding-left: 20px;
    }
    .navbar-headers {
      padding: 5px 10px;
      align-content: center;
      justify-content: space-between;
    }

    ul li ul li {
      border: 1px solid $sky-blue;
    }
  }
}
